* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-top {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.social-link i {
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 20px;
    border-radius: 50%;
}

.social-link .fa-facebook:hover {
    color: blue;
}

.social-link .fa-instagram:hover {
    color: orange;
}

.social-link i:hover {
    color: lawngreen;
}

@media screen and (max-width:420px) {
    .social-link i {
        width: 10px;
    }
}

.logo h3 {
    font-weight: bold;
    color: blanchedalmond;
    font-size: 30px;
    text-shadow: 2px 2px;
    font-family: "Sofia", sans-serif;
}

@media screen and (max-width:420px) {
    .logo h3 {
        font-size: 18px;
        border-radius: 5px;
    }
}


/*---------main-content=----*/

.main-content {
    width: 100%;
    height: 90vh;
    background-image: url(.assests/img1.jpg);
    background-size: cover;
    background-position: 70%;
}

.navbar-nav {
    margin: auto;
}

.navbar-nav li {
    color: blanchedalmond;
}

.nav-link {
    margin-left: 30px;
    font-weight: bold;
    color: blanchedalmond;
    transition: 0.5s ease;
    cursor: pointer;
    font-size: 20px;
    position: relative;
}

.big-collection {
    width: 90%;
    margin: 100px auto;
}

.big-collection .collect-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    grid-row-gap: 20px;
}

.collect-flex .link {
    margin-top: 20px;
}

.big-collection .collect {
    margin: 0px 10px;
}

.collect-flex .link {
    margin-top: 20px;
}

.big-collection .collect {
    margin: 0px 10px;
}

.big-collection .collect .image {
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(238, 148, 20, 1);
}

.collect-flex .link a {
    display: inline-block;
    color: var(--main-color);
    text-transform: capitalize;
    text-decoration: none;
    position: relative;
}

.collect-flex .link a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--main-color);
    left: 0%;
    top: 23px;
    transform: scale(0);
    transition: .5s ease-in-out;
}

.collect-flex .collect:hover a::before {
    transform: scale(1);
}

.collect-flex .collect .image {
    position: relative;
}

.collect .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}

.big-collection .collect:hover .image::before {
    animation: animate1 .6s linear forwards;
}

@keyframes animate1 {
    0% {
        width: 0;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 100%;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: var(--main-color);
        border-right-color: var(--main-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}

.collect .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 0;
    height: 0;
    border: 1px solid transparent;
}

.big-collection .collect:hover .image::after {
    animation: animate2 .6s linear forwards;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: var(--main-color);
        border-left-color: var(--main-color);
    }
}

@media(max-width: 1230px) {
    .big-collection .collect-flex {
        display: flex;
        justify-content: center;
    }
}


/*---------Bigshop-----------*/

.big-shop {
    width: 90%;
    margin: 150px auto;
}

.container-fluid .shop-title {
    text-align: center;
    margin-top: 50px;
}

.container-fluid .shop-title h2 {
    font-weight: 700;
    font-family: 'Fenix', serif;
}

.container-fluid .shop-title p {
    font-size: 15px;
}


/*-----------------*/

.big-shop .shop-title {
    text-align: center;
    margin-bottom: 20px;
}

.big-shop .shop-title h2 {
    font-weight: 700;
    font-family: 'Fenix', serif;
}

.big-shop .shop-title p {
    font-size: 15px;
}

.big-shop .shop-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-flex .shop-one {
    width: 26%;
}

.shop-flex img {
    width: 100%;
}

.shop-flex .shop-two {
    width: 44%;
}

.shop-flex .image-one {
    position: relative;
    margin-bottom: 20px;
}

.shop-flex .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.shop-flex .overlay .txt {
    color: #FFF;
}

.shop-flex .overlay .txt h3 {
    margin-bottom: 3px;
}

.shop-flex .overlay .txt span {
    color: #45ccb8;
}

.shop-flex .overlay .link {
    position: absolute;
    bottom: 50px;
}

.shop-flex .overlay .link a {
    color: #FFF;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
}

.shop-flex .overlay .link i {
    vertical-align: middle;
    transition: padding .4s ease-in-out;
    font-size: 15px;
}

.shop-flex .overlay .link a:hover i {
    padding-left: 3px;
}

.shop-flex .overlay .link a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    background: #FFF;
    width: 100%;
    height: 2px;
    transition: left .4s ease-in-out;
}

.shop-flex .overlay .link a:hover::before {
    left: 0;
}

.shop-flex .image-one:hover .txt {
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .image-one:hover .link {
    animation: job1_link .7s ease-in-out forwards;
}

.shop-flex .image-one:hover .overlay {
    opacity: 1;
}

.shop-flex .shop-two {
    position: relative;
    height: 100%;
}

.shop-flex .shop-two:hover .txt {
    animation: job1 .7s ease-in-out forwards;
}

.shop-flex .shop-two:hover .link {
    animation: job1_link .7s ease-in-out forwards;
}

.shop-flex .shop-two:hover .overlay {
    opacity: 1;
}

@keyframes job1 {
    0% {
        opacity: 0;
        margin-bottom: 70px;
    }
    100% {
        opacity: 1;
        margin-bottom: 0px;
    }
}

@keyframes job1_link {
    0% {
        opacity: 0;
        bottom: 20px;
    }
    100% {
        opacity: 1;
        bottom: 50px;
    }
}


/* media  */

@media(max-width: 991px) {
    .shop-flex .shop-one {
        width: 49%;
    }
    .shop-flex .shop-two {
        width: 49%;
    }
}

@media(max-width: 576px) {
    .shop-flex .shop-one {
        width: 100%;
    }
    .shop-flex .shop-two {
        width: 100%;
    }
    .big-shop .shop-title h2 {
        font-size: 24px;
    }
    .big-shop .shop-title p {
        font-size: 13px;
    }
}


/*---content---*/

#make {
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 20px;
}

#make h1 {
    font: size 30px;
    color: blanchedalmond;
}

#make p {
    color: blanchedalmond;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.card:hover .overlay {
    opacity: 1;
    overflow: hidden;
    border-radius: 2px;
}


/*------------Hr text------------------*/

hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: rgb(61, 58, 58);
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-size: 30px;
    color: rgb(12, 11, 11);
    border-radius: 20rem;
    padding: 0.2rem 2rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*---------------------*/

.nav-link::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(238, 148, 20, 1);
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.nav-link:hover::after {
    transform: scaleX(1);
}
